In [7]:
import pandas as  pd

In [8]:
cat=pd.read_excel("/content/sample_data/catex.xlsx")

In [9]:
cat

,Breed,Temperament,Origin,Group,Height,Body Length,Weight,Life Expectancy,Price,ISO-ALPHA 2,ISO-ALPHA 3
0,Abyssinian Cat,"Playful, willful, active, intelligent",Abyssinia (Ethiopia),Medium-sized short-haired,"8""-10""","12""-16""","""8-12""","""9-13""",$200-$1000,ET,ETH
1,Aegean Cat,"Affectionate, social, playful, intelligent",Greece,Medium-sized short-haired,"8""-10""","12""-16""","""7-10""","""9-12 """,$300-$500,GR,GRC
2,American Bobtail Cat,"Lively, intelligent, personable, curious",United States,Medium-to-large sized shorthair and longhair,"10""-14""","12""-20""","""7-18""","""12-15""","$600 - $1,000",UM,UMI
3,American Curl Cat,"Curious, intelligent, social, playful",United States,Small-sized short to medium hair,"8""-10""","12""-16""","""5-10""","""11-15""","$1,000 - $2,000",UM,UMI
4,American Longhair Cat,"Sociable, easygoing, playful, inquisitive",United States,Medium-to-large sized longhair,"10""-14""","12""-17""","""8-15 ""","""12-17""","$100 - $1,000",UM,UMI
...,...,...,...,...,...,...,...,...,...,...,...
75,Turkish Van Cat,"Active, affectionate, personable, playful",Turkey,Large long-haired,"9""- 11""","14""-17""","""7-20""","""12-17 """,$800 - $1500,TR,TUR
76,Turkish Vankedisi Cat,"Active, affectionate, pleasant, playful",Turkey,Large long-haired,"9""- 11""","14""-17""","""7-19""","""15-16""",$800 - $1500,TR,TUR
77,Ukrainian Levkoy Cat,"Playful, affectionate, curious, sociable",Ukraine,Medium-sized hairless,"8""- 10""","12""-16""","""11-15""","""15- 20""",$400 to $800,UA,UKR
78,Ussuri Cat,"Athletic, playful, independent, intelligent",Russia,Medium to large short-haired,"9""- 11""","12""-16""","""11-15""","""12-15""",$800 - $1500,RU,RUS
79,York Chocolate Cat,"Friendly, athletic, devoted, charming",United States,Large long-haired,"8""-10""","12""-15""","""10-16""","""13-15""",$600 - $1000,UM,UMI

In [10]:
unique_values = cat['Origin'].unique()
print(unique_values)

['Abyssinia (Ethiopia)' 'Greece' 'United States' 'United Kingdom'
 'Australia' 'Burma' 'Brazil' 'Burma / Myanmar' 'France, Syria'
 'Egypt, South Asia' 'Isle of Man' 'Russia' 'China' 'Egypt' 'Sweden'
 'Germany' 'Japan' 'Canada' 'Thailand' 'Norway'
 'United States, United Kingdom' 'Iran' 'United States, Africa'
 'Singapore' 'Kenya' 'Turkey' 'Ukraine']

In [11]:
origin_to_continent = {'Abyssinia (Ethiopia)': 'Africa',
                       'Iran': 'Asia',
                       'Turkey': 'Asia and Europe',
                       'United Kingdom': 'Europe',
                       'United States': 'North America',
                       'Norway': 'Europe',
                       'Burma': 'Asia',
                       'Australia': 'Australia/Oceania',
                       'Greece': 'Europe',
                       'Russia': 'Europe and Asia',
                       'Brazil': 'South America',
                       'Canada': 'North America',
                       'Thailand': 'Asia',
                       'Egypt, South Asia': 'Africa and Asia',
                       'France, Syria': 'Europe and Asia',
                       'United States, United Kingdom': 'North America and Europe',
                       'Singapore': 'Asia',
                       'Japan': 'Asia',
                       'Isle of Man': 'Europe',
                       'Burma / Myanmar': 'Asia',
                       'Germany': 'Europe',
                       'United States, Africa': 'North America and Africa',
                       'Sweden': 'Europe',
                       'Egypt': 'Africa',
                       'Ukraine': 'Europe',
                       'China': 'Asia',
                       'Kenya': 'Africa'}


cat['Continents'] = cat['Origin'].replace(origin_to_continent)

In [12]:
cat

,Breed,Temperament,Origin,Group,Height,Body Length,Weight,Life Expectancy,Price,ISO-ALPHA 2,ISO-ALPHA 3,Continents
0,Abyssinian Cat,"Playful, willful, active, intelligent",Abyssinia (Ethiopia),Medium-sized short-haired,"8""-10""","12""-16""","""8-12""","""9-13""",$200-$1000,ET,ETH,Africa
1,Aegean Cat,"Affectionate, social, playful, intelligent",Greece,Medium-sized short-haired,"8""-10""","12""-16""","""7-10""","""9-12 """,$300-$500,GR,GRC,Europe
2,American Bobtail Cat,"Lively, intelligent, personable, curious",United States,Medium-to-large sized shorthair and longhair,"10""-14""","12""-20""","""7-18""","""12-15""","$600 - $1,000",UM,UMI,North America
3,American Curl Cat,"Curious, intelligent, social, playful",United States,Small-sized short to medium hair,"8""-10""","12""-16""","""5-10""","""11-15""","$1,000 - $2,000",UM,UMI,North America
4,American Longhair Cat,"Sociable, easygoing, playful, inquisitive",United States,Medium-to-large sized longhair,"10""-14""","12""-17""","""8-15 ""","""12-17""","$100 - $1,000",UM,UMI,North America
...,...,...,...,...,...,...,...,...,...,...,...,...
75,Turkish Van Cat,"Active, affectionate, personable, playful",Turkey,Large long-haired,"9""- 11""","14""-17""","""7-20""","""12-17 """,$800 - $1500,TR,TUR,Asia and Europe
76,Turkish Vankedisi Cat,"Active, affectionate, pleasant, playful",Turkey,Large long-haired,"9""- 11""","14""-17""","""7-19""","""15-16""",$800 - $1500,TR,TUR,Asia and Europe
77,Ukrainian Levkoy Cat,"Playful, affectionate, curious, sociable",Ukraine,Medium-sized hairless,"8""- 10""","12""-16""","""11-15""","""15- 20""",$400 to $800,UA,UKR,Europe
78,Ussuri Cat,"Athletic, playful, independent, intelligent",Russia,Medium to large short-haired,"9""- 11""","12""-16""","""11-15""","""12-15""",$800 - $1500,RU,RUS,Europe and Asia
79,York Chocolate Cat,"Friendly, athletic, devoted, charming",United States,Large long-haired,"8""-10""","12""-15""","""10-16""","""13-15""",$600 - $1000,UM,UMI,North America

In [13]:
cat['Height']

0      8"-10"
1      8"-10"
2     10"-14"
3      8"-10"
4     10"-14"
       ...
75    9"- 11"
76    9"- 11"
77    8"- 10"
78    9"- 11"
79     8"-10"
Name: Height, Length: 80, dtype: object

In [14]:

cat['Height'] = cat['Height'].str.replace('"',' ' )

In [15]:
cat['Height']

0      8 -10
1      8 -10
2     10 -14
3      8 -10
4     10 -14
       ...
75    9 - 11
76    9 - 11
77    8 - 10
78    9 - 11
79     8 -10
Name: Height, Length: 80, dtype: object

In [16]:
cat['min_Height']  = cat['Height'] .apply(lambda x: x.split('-')[0])
cat['max_Height']  = cat['Height'] .apply(lambda x: x.split('-')[1])

In [17]:
unique_values = cat['min_Height'].unique()
print(unique_values)

['8 ' '10 ' '14 ' '11 ' '12 ' '7”' '6 ' '9 ' '7 ' '21 ']

In [18]:
unique_values = cat['max_Height'].unique()
print(unique_values)

['10 ' '14 ' '18 ' '11 ' '12 ' '16 ' '8”' '9 ' ' 13 ' ' 10 ' ' 14 ' ' 11 '
 ' 8 ' ' 23 ']

In [19]:
cat['max_Height'] = cat['max_Height'].str.replace('”',' ' )
cat['min_Height'] = cat['min_Height'].str.replace('”',' ' )

In [20]:
unique_values = cat['max_Height'].unique()
print(unique_values)

['10 ' '14 ' '18 ' '11 ' '12 ' '16 ' '8 ' '9 ' ' 13 ' ' 10 ' ' 14 ' ' 11 '
 ' 8 ' ' 23 ']

In [21]:
unique_values = cat['min_Height'].unique()
print(unique_values)

['8 ' '10 ' '14 ' '11 ' '12 ' '7 ' '6 ' '9 ' '21 ']

In [22]:

cat['Body Length'] = cat['Body Length'].str.replace('"',' ' )
cat['min_Body Length']  = cat['Body Length'] .apply(lambda x: x.split('-')[0])
cat['max_Body Length']  = cat['Body Length'] .apply(lambda x: x.split('-')[1])

In [23]:
cat['max_Body Length']

0     16
1     16
2     20
3     16
4     17
     ...
75    17
76    17
77    16
78    16
79    15
Name: max_Body Length, Length: 80, dtype: object

In [24]:
unique_values = cat['min_Body Length'].unique()
print(unique_values)

['12 ' '16 ' '15 ' '11 ' '13 ' '14 ' '10 ' '17 ' '20 ' '9 ']

In [25]:
unique_values = cat['max_Body Length'].unique()
print(unique_values)

['16 ' '20 ' '17 ' '22 ' '18 ' '14 ' '24 ' '12 ' '21 ' '15 ']

In [26]:

cat['Weight'] = cat['Weight'].str.replace('"', '')

In [27]:
cat['Weight']

0      8-12
1      7-10
2      7-18
3      5-10
4     8-15
      ...
75     7-20
76     7-19
77    11-15
78    11-15
79    10-16
Name: Weight, Length: 80, dtype: object

In [28]:
cat['min_Weight']  = cat['Weight'] .apply(lambda x: x.split('-')[0])
cat['max_Weight']  = cat['Weight'] .apply(lambda x: x.split('-')[1])

In [29]:
unique_values = cat['min_Weight'].unique()
print(unique_values)
unique_values = cat['max_Weight'].unique()
print(unique_values)

['8' '7' '5' '4' '12' '6' '10' '9' '11' '6 ' '15' '17']
['12' '10' '18' '15 ' '15' '14' '22' '11' '25' '9' '6' '20' '13' '8' '16'
 '20 ' '28' '26' '19']

In [30]:
cat['Life Expectancy'] = cat['Life Expectancy'].str.replace('"', '')

In [31]:

cat['min_Life Expectancy']  = cat['Life Expectancy'] .apply(lambda x: x.split('-')[0])
cat['max_Life Expectancy']  = cat['Life Expectancy'] .apply(lambda x: x.split('-')[1])

In [32]:
unique_values = cat['min_Life Expectancy'].unique()
print(unique_values)
unique_values = cat['max_Life Expectancy'].unique()
print(unique_values)

['9' '12' '11' '14' '12 ' '10' '15' '8 ' '13' '18' '8']
['13' '12 ' '15' '17' '16' '17 ' '18' '20' '15 ' '16 ' ' 20' '12' ' 12'
 '19' '20 ' '14']

In [33]:
cat['min_Life Expectancy'] = cat['min_Life Expectancy'].astype(int)
cat['max_Life Expectancy'] = cat['max_Life Expectancy'].astype(int)
cat['max_Weight'] = cat['max_Weight'].astype(int)
cat['min_Weight'] = cat['min_Weight'].astype(int)
cat['min_Body Length']  = cat['min_Body Length'] .astype(int)
cat['max_Body Length']  = cat['max_Body Length'] .astype(int)
cat['min_Height']  = cat['min_Height'] .astype(int)
cat['max_Height']  = cat['max_Height'] .astype(int)

In [34]:
cat['avr_Life Expectancy'] = cat[['min_Life Expectancy', 'max_Life Expectancy']].mean(axis=1)
cat['avr_Weight'] = cat[['max_Weight', 'min_Weight']].mean(axis=1)
cat['avr_Body Length'] = cat[['min_Body Length', 'max_Body Length']].mean(axis=1)
cat['avr_Height'] = cat[['min_Height', 'max_Height']].mean(axis=1)

In [35]:
#cat["Group"][0].split(" ")[0]

In [36]:
unique_values = cat['Group'].unique()
print(unique_values)

['Medium-sized short-haired'
 'Medium-to-large sized shorthair and longhair'
 'Small-sized short to medium hair' 'Medium-to-large sized longhair'
 'Medium to large-sized shorthair and longhair'
 'Medium-to-large sized shorthair' 'Medium-sized short to medium hair'
 'Medium to large sized medium to long hair'
 'Small to medium-sized longhair' 'Large shorthair'
 'Medium sized longhair' 'Medium-to-large shorthair'
 'Medium-to-large longhair' 'Medium-sized shorthair and longhair'
 'Medium-sized semi-longhair' 'Large short-haired'
 'Small to medium-sized shorthair'
 'Medium-sized short-haired and long-haired' 'Medium-sized hairless'
 'Small short-haired' 'Medium-sized longhair' 'Medium-sized long-haired'
 'Medium to large short-haired and long-haired\n' 'Large Longhair'
 'Medium, long hair or short hair' 'Small short-haired and long-haired'
 'Small to medium-sized long-haired' 'Large long-haired'
 'Medium-to-large short-haired' 'Medium-sized Short-haired'
 'Medium to large long-haired' 'Large-sized long-haired'
 'Small to medium-sized short-haired' 'Large-sized short-haired'
 'Medium to large short-haired and long-haired'
 'Medium to large short-haired']

In [37]:
cat

,Breed,Temperament,Origin,Group,Height,Body Length,Weight,Life Expectancy,Price,ISO-ALPHA 2,...,min_Body Length,max_Body Length,min_Weight,max_Weight,min_Life Expectancy,max_Life Expectancy,avr_Life Expectancy,avr_Weight,avr_Body Length,avr_Height
0,Abyssinian Cat,"Playful, willful, active, intelligent",Abyssinia (Ethiopia),Medium-sized short-haired,8 -10,12 -16,8-12,9-13,$200-$1000,ET,...,12,16,8,12,9,13,11.0,10.0,14.0,9.0
1,Aegean Cat,"Affectionate, social, playful, intelligent",Greece,Medium-sized short-haired,8 -10,12 -16,7-10,9-12,$300-$500,GR,...,12,16,7,10,9,12,10.5,8.5,14.0,9.0
2,American Bobtail Cat,"Lively, intelligent, personable, curious",United States,Medium-to-large sized shorthair and longhair,10 -14,12 -20,7-18,12-15,"$600 - $1,000",UM,...,12,20,7,18,12,15,13.5,12.5,16.0,12.0
3,American Curl Cat,"Curious, intelligent, social, playful",United States,Small-sized short to medium hair,8 -10,12 -16,5-10,11-15,"$1,000 - $2,000",UM,...,12,16,5,10,11,15,13.0,7.5,14.0,9.0
4,American Longhair Cat,"Sociable, easygoing, playful, inquisitive",United States,Medium-to-large sized longhair,10 -14,12 -17,8-15,12-17,"$100 - $1,000",UM,...,12,17,8,15,12,17,14.5,11.5,14.5,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Turkish Van Cat,"Active, affectionate, personable, playful",Turkey,Large long-haired,9 - 11,14 -17,7-20,12-17,$800 - $1500,TR,...,14,17,7,20,12,17,14.5,13.5,15.5,10.0
76,Turkish Vankedisi Cat,"Active, affectionate, pleasant, playful",Turkey,Large long-haired,9 - 11,14 -17,7-19,15-16,$800 - $1500,TR,...,14,17,7,19,15,16,15.5,13.0,15.5,10.0
77,Ukrainian Levkoy Cat,"Playful, affectionate, curious, sociable",Ukraine,Medium-sized hairless,8 - 10,12 -16,11-15,15- 20,$400 to $800,UA,...,12,16,11,15,15,20,17.5,13.0,14.0,9.0
78,Ussuri Cat,"Athletic, playful, independent, intelligent",Russia,Medium to large short-haired,9 - 11,12 -16,11-15,12-15,$800 - $1500,RU,...,12,16,11,15,12,15,13.5,13.0,14.0,10.0
79,York Chocolate Cat,"Friendly, athletic, devoted, charming",United States,Large long-haired,8 -10,12 -15,10-16,13-15,$600 - $1000,UM,...,12,15,10,16,13,15,14.0,13.0,13.5,9.0

In [38]:
#cat.to_excel('final_cat.xlsx', index=False)

In [39]:
cat['Group'] = cat['Group'].str.replace('-', ' ')

In [40]:
'''values_to_split_on =['Mediumsized' ,'Medium',
 'Small to mediumsized' ,'Medium to large',
 'Mediumtolarge', 'Mediumsized' ,'Large',
 'Medium to large sized' ,'Medium sized',
 'Mediumsized ' ,'Small to mediumsized '
 'Mediumtolarge sized', 'Large'
 'Largesized' ,'Mediumtolarge',
 'Mediumsized', 'Medium to large',
 'Medium to largesized',
 'Mediumsized', 'Large',
 'Largesized' ,'Small shorthaired',
 'Mediumsized', 'Mediumsized', 'Large',
 'Small', 'Mediumtolarge sized',
 'Mediumtolarge sized', 'Mediumtolarge',
 'Mediumsized', 'Large',
 'Largesized', 'Small',
 'Mediumsized' ,'Mediumsized', 'Large',
 'Small' ,'Mediumtolarge',
 'Mediumtolarge sized', 'Mediumtolarge',
 'Small to mediumsized', 'Mediumsized',
 'Smallsized',
 'Medium to large',
 'Medium', 'Mediumsized',
 'Small to mediumsized']'''

"values_to_split_on =['Mediumsized' ,'Medium',\n 'Small to mediumsized' ,'Medium to large',\n 'Mediumtolarge', 'Mediumsized' ,'Large',\n 'Medium to large sized' ,'Medium sized',\n 'Mediumsized ' ,'Small to mediumsized '\n 'Mediumtolarge sized', 'Large'\n 'Largesized' ,'Mediumtolarge',\n 'Mediumsized', 'Medium to large',\n 'Medium to largesized',\n 'Mediumsized', 'Large',\n 'Largesized' ,'Small shorthaired',\n 'Mediumsized', 'Mediumsized', 'Large',\n 'Small', 'Mediumtolarge sized',\n 'Mediumtolarge sized', 'Mediumtolarge',\n 'Mediumsized', 'Large',\n 'Largesized', 'Small',\n 'Mediumsized' ,'Mediumsized', 'Large',\n 'Small' ,'Mediumtolarge',\n 'Mediumtolarge sized', 'Mediumtolarge',\n 'Small to mediumsized', 'Mediumsized',\n 'Smallsized',\n 'Medium to large',\n 'Medium', 'Mediumsized',\n 'Small to mediumsized']"

In [41]:
cat['Group']

0                        Medium sized short haired
1                        Medium sized short haired
2     Medium to large sized shorthair and longhair
3                 Small sized short to medium hair
4                   Medium to large sized longhair
                          ...
75                               Large long haired
76                               Large long haired
77                           Medium sized hairless
78                    Medium to large short haired
79                               Large long haired
Name: Group, Length: 80, dtype: object

In [42]:
split_col = cat['Group'].str.split(' ', n=1, expand=True)

cat.insert(1, 'Size', split_col[0])

In [43]:
cat

,Breed,Size,Temperament,Origin,Group,Height,Body Length,Weight,Life Expectancy,Price,...,min_Body Length,max_Body Length,min_Weight,max_Weight,min_Life Expectancy,max_Life Expectancy,avr_Life Expectancy,avr_Weight,avr_Body Length,avr_Height
0,Abyssinian Cat,Medium,"Playful, willful, active, intelligent",Abyssinia (Ethiopia),Medium sized short haired,8 -10,12 -16,8-12,9-13,$200-$1000,...,12,16,8,12,9,13,11.0,10.0,14.0,9.0
1,Aegean Cat,Medium,"Affectionate, social, playful, intelligent",Greece,Medium sized short haired,8 -10,12 -16,7-10,9-12,$300-$500,...,12,16,7,10,9,12,10.5,8.5,14.0,9.0
2,American Bobtail Cat,Medium,"Lively, intelligent, personable, curious",United States,Medium to large sized shorthair and longhair,10 -14,12 -20,7-18,12-15,"$600 - $1,000",...,12,20,7,18,12,15,13.5,12.5,16.0,12.0
3,American Curl Cat,Small,"Curious, intelligent, social, playful",United States,Small sized short to medium hair,8 -10,12 -16,5-10,11-15,"$1,000 - $2,000",...,12,16,5,10,11,15,13.0,7.5,14.0,9.0
4,American Longhair Cat,Medium,"Sociable, easygoing, playful, inquisitive",United States,Medium to large sized longhair,10 -14,12 -17,8-15,12-17,"$100 - $1,000",...,12,17,8,15,12,17,14.5,11.5,14.5,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Turkish Van Cat,Large,"Active, affectionate, personable, playful",Turkey,Large long haired,9 - 11,14 -17,7-20,12-17,$800 - $1500,...,14,17,7,20,12,17,14.5,13.5,15.5,10.0
76,Turkish Vankedisi Cat,Large,"Active, affectionate, pleasant, playful",Turkey,Large long haired,9 - 11,14 -17,7-19,15-16,$800 - $1500,...,14,17,7,19,15,16,15.5,13.0,15.5,10.0
77,Ukrainian Levkoy Cat,Medium,"Playful, affectionate, curious, sociable",Ukraine,Medium sized hairless,8 - 10,12 -16,11-15,15- 20,$400 to $800,...,12,16,11,15,15,20,17.5,13.0,14.0,9.0
78,Ussuri Cat,Medium,"Athletic, playful, independent, intelligent",Russia,Medium to large short haired,9 - 11,12 -16,11-15,12-15,$800 - $1500,...,12,16,11,15,12,15,13.5,13.0,14.0,10.0
79,York Chocolate Cat,Large,"Friendly, athletic, devoted, charming",United States,Large long haired,8 -10,12 -15,10-16,13-15,$600 - $1000,...,12,15,10,16,13,15,14.0,13.0,13.5,9.0

In [44]:
unique_values = cat['Size'].unique()
print(unique_values)

['Medium' 'Small' 'Large' 'Medium,']

In [45]:
cat['Group']= cat['Group'].str.rsplit(' ', n=1, expand=True).apply(lambda x: x[0] + x[1], axis=1)

In [46]:
last_word_col = cat['Group'].str.rsplit(' ', n=1, expand=True)[1]

cat.insert(1, 'Hair', last_word_col)

In [47]:
unique_values = cat['Hair'].unique()
print(unique_values)

['shorthaired' 'andlonghair' 'mediumhair' 'sizedlonghair' 'sizedshorthair'
 'longhair' None 'largeshorthair' 'largelonghair' 'semilonghair'
 'longhaired' 'sizedhairless' 'longhaired\n' 'shorthair' 'Shorthaired']

In [48]:
cat['Hair'] = cat['Hair'].str.replace('\n', '')

In [49]:
cat['Hair'] = cat['Hair'].str.replace('sized', '')

In [50]:
cat['Hair'] = cat['Hair'].str.replace('and', '')

In [51]:
cat['Hair']= cat['Hair'].str.replace(r'ed\b', '', regex=True)

In [52]:
unique_values = cat['Hair'].unique()
print(unique_values)

['shorthair' 'longhair' 'mediumhair' None 'largeshorthair' 'largelonghair'
 'semilonghair' 'hairless' 'Shorthair']

In [53]:
cat['Size'] =cat['Size'].str.replace(',', '')

In [54]:
unique_values = cat['Size'].unique()
print(unique_values)

['Medium' 'Small' 'Large']

In [55]:
cat.to_excel('final_filee.xlsx', index=False)